{% extends "base.html" %}

{% load widget_tweaks %}

{% block content %}

<main class="criar">
    <h1 class="criar-title">Criar novo post</h1>
    
    <form class="criar-form" method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="form-row">
                <label>
                    {{ field.label }}
                    {% render_field field placeholder=field.label %}
                </label>
            </div>
        {% endfor %}

        <div class="form-btns">
            <a href="{% url 'index' %}">
                Cancelar
            </a>

            <button type="submit">
                Criar post
            </button>
        </div>

    </form>
</main>

{% endblock %}